---
import AwesomeCardContainer from './awesome-card/card-container'
import SUPPORTED_LANGUAGES, { DEFAULT_LANGUAGE } from '@/supported-languages'
import type { Language } from '@/supported-languages'
import contentJSX from '@/components/about-me-localized-content'

interface Props {
  lang?: Language
}

const lang = Astro.props.lang ?? DEFAULT_LANGUAGE

if (!Object.values(SUPPORTED_LANGUAGES).includes(lang)) {
  throw new Error(`Unsupported language: ${lang}`)
}

const Content = contentJSX[lang]
---

<article class="text-pretty flex flex-col md:flex-row gap-12">
  <div class="flex flex-col gap-5">
    <Content />
  </div>

  <div class="grid place-items-center">
    <AwesomeCardContainer client:media="(min-width: 768px)" client:visible />
  </div>
</article>
