---
interface Props {
  id?: string
  title: string
}

const { id, title } = Astro.props
---

<article class="flex flex-col gap-1 md:w-fit truncate" role="presentation">
  <h2
    id={id}
    class="text-2xl text-center md:text-3xl md:text-start font-bold leading-10 m-auto text-soft-dark dark:text-soft-white"
  >
    {title}
  </h2>
  <span id="underline" class="h-2 bg-primary rounded m-auto"></span>
</article>

<style>
  #underline {
    animation: grow 2s alternate infinite;
  }

  @keyframes grow {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    #underline {
      animation: none;
    }
  }
</style>
