---
import SocialAnchor from '@/components/social-button.astro'
import Layout from '../layouts/Layout.astro'
import MailPlusIcon from '@/components/icons/email'
import LinkedInIcon from '@/components/icons/linkedin'
import Title from '@/components/title.astro'
import Experience from '@/components/experience.astro'
import Projects from '@/components/projects.astro'
import AboutMe from '@/components/about-me.astro'
import RubiksCube from '@/components/rubiks-cube'
---

<Layout
  title="Porftolio de Victor Rodas - Desarrollador y Programador Web"
  description="Mira los proyectos de Victor Rodas. Desarrollador Web. Especializado en construir aplicaciones con experiencias de usuario increíbles."
>
  <main class="md:pt-56 px-6 md:px-24 lg:px-72 flex flex-col gap-20 md:gap-40">
    <section
      class="pt-56 md:pt-0 w-full h-screen md:h-auto lg:w-[60%] flex flex-col gap-6 text-white"
    >
      <h1 class="text-4xl md:text-5xl font-bold">Hey, soy Víctor</h1>
      <p class="text-base md:text-xl text-pretty">
        <span id="experience-text" class="font-bold">+1 año de experiencia</span
        >. Soy un Desarrollador Front-End de Paraguay, especializado en
        desarrollo web y móvil, apasionado por la creación de aplicaciones
        geniales.
      </p>
      <nav class="flex gap-3">
        <SocialAnchor
          href="mailto:victormrodas99@gmail.com"
          class="flex gap-2 items-center"
        >
          <MailPlusIcon className="size-4" />
          Contactame
        </SocialAnchor>
        <SocialAnchor
          href="https://www.linkedin.com/in/victor-rodas-dev/"
          class="flex gap-2 items-center"
        >
          <LinkedInIcon className="size-4" />
          LinkedIn
        </SocialAnchor>
      </nav>
    </section>

    <RubiksCube size={400} client:media="(min-width:768px)" />

    <section class="flex flex-col gap-8 md:gap-16">
      <Title id="experience" title="Experiencia laboral" />
      <Experience />
    </section>

    <section class="flex flex-col gap-8 md:gap-16">
      <Title id="projects" title="Proyectos" />
      <Projects />
    </section>

    <section class="flex flex-col gap-8 md:gap-16 mb-24">
      <Title id="about-me" title="Sobre mí" />
      <AboutMe />
    </section>
  </main>
</Layout>

<style>
  #experience-text {
    background: linear-gradient(to right, #ff6b08, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
</style>
