<header
  id="main-header"
  class="text-sm w-full fixed top-8 grid place-items-center z-50"
>
  <nav
    class="flex bg-light-secondary dark:bg-secondary text-soft-dark dark:text-soft-white py-2 px-5 rounded-full shadow-md"
  >
    <ul class="flex gap-5">
      <li>
        <a
          class="hover:text-gray-300 transition-colors duration-200"
          href="/#experience">Experiencia</a
        >
      </li>
      <li>
        <a
          class="hover:text-gray-300 transition-colors duration-200"
          href="/#projects">Proyectos</a
        >
        <li>
          <a
            class="hover:text-gray-300 transition-colors duration-200"
            href="/#about-me">Sobre mí</a
          >
        </li>
        <li>
          <a
            class="hover:text-gray-300 transition-colors duration-200"
            href="mailto:victormrodas99@gmail.com">Contacto</a
          >
        </li>
      </li>
    </ul>
  </nav>
</header>
